body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    background-color: #f0f0f0;
    margin: 300px;
}


img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.texto {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.search-container input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    flex: 1;
    margin-right: 10px;
}

.search-container i {
    color: #333;
    cursor: pointer;
}

a {
    color: white;
}





